* {
  box-sizing: border-box;
}

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  position: fixed;
  background: #f7f7f7;
  color: #575757;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1.5rem;
  border-bottom: 1px solid #c7c7c7;
  font-size: .75rem;
  z-index: 99;
}

.content {
  position: fixed;
  background: #fff;
  top: 1.5rem;
  left: 0px;
  width: 100%;
  height: calc(100% - 1.5rem);
  padding: .5rem;
  overflow-x: scroll;
  overflow-y: scroll;
}

.itemSpan {
  padding: .35rem 0;
  text-align: center;
}

.dropdown {
  position: relative;
  float: left;
  top: 0px;
  left: 0px;
  width: 3.5rem;
  height: 100%;
  border-right: 1px solid #c7c7c7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown.hover {
  background: #575757;
  color: #f7f7f7;
  cursor: default;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  background-color: #f7f7f7;
  color: #575757;
  top: 1.5rem;
  min-width: 6rem;
  border: 1px solid rgba(0,0,0,0.2);
  z-index: 98;
}

.dropdown.hover .dropdown-content {
  display: block;
  visibility: visible;
  overflow: hidden;
}

.dropdown-item {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: .25rem;
  border-bottom: 1px solid #c7c7c7;
}

.dropdown-item:hover {
  background: #575757;
  color: #f7f7f7;
}

.gridspace {
  position: relative;
  float: left;
  background: #f7f7f7;
  top: 0rem;
  left: 0rem;
  width: 2rem;
  height: 2rem;
  border: 1px dashed #c7c7c7;
}
.gridspace:hover{
  border: 2px solid #c7c7c7;
}

.options {
  white-space: nowrap;
  overflow: hidden;
}

.option-title {
  position: relative;
  float: left;
  top: 0rem;
  left: 0rem;
  width: 4rem;
  height: 100%;
  padding: .3rem;
  text-align: center;
}

.option {
  position: relative;
  display: inline-block;
  color: #000;
  top: 0rem;
  left: 0rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #a7a7a7;
}

.option:hover {
  border-bottom: 2px solid #000;
}

.option.selected {
  border-bottom: 2px solid #000;
}

/* Clear */
.t0 {
  background: #f7f7f7;
  border: 1px dashed #a7a7a7;
}
.t0:after {
  content: "0";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: .25rem 0;
  text-align: center;
}
/* Brown */
.t1 {
  background: #9e6019;
}
.t1:after {
  content: "1";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: .25rem 0;
  text-align: center;
}
/* Gray */
.t2 {
  background: #c7c7c7;
}
.t2:after {
  content: "2";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: .25rem 0;
  text-align: center;
}
/* Light Blue */
.t3 {
  background: #22e0d0;
}
.t3:after {
  content: "3";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: .25rem 0;
  text-align: center;
}
/* White */
.t4 {
  background: #fff;
}
.t4:after {
  content: "4";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: .25rem 0;
  text-align: center;
}
/* Red */
.t5 {
  background: #f00;
}
.t5:after {
  content: "5";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: .25rem 0;
  text-align: center;
}
/* Blackish */
.t6 {
  background: #505050;
}
.t6:after {
  content: "6";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: .25rem 0;
  text-align: center;
}
/* Tan */
.t7 {
  background: #edb76b;
}
.t7:after {
  content: "7";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: .25rem 0;
  text-align: center;
}
/* Blue */
.t8 {
  background: #00f;
}
.t8:after {
  content: "8";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: .25rem 0;
  text-align: center;
}
/* Green */
.t9 {
  background: #0f0;
}
.t9:after {
  content: "9";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: .25rem 0;
  text-align: center;
}
/* Yellow */
.t10 {
  background: #ff5900;
}
.t10:after {
  content: "10";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: .25rem 0;
  text-align: center;
}
/* Yellow */
.t11 {
  background: #e0dd22;
}
.t11:after {
  content: "11";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: .25rem 0;
  text-align: center;
}

.saveWindow {
  position: absolute;
  background: #f7f7f7;
  visibility: hidden;
  top: 3rem;
  left: 3rem;
  width: 20rem;
  padding: 1rem;
  border: 1px solid #202020;
  box-shadow: 0 0 .2rem .2rem rgba(0,0,0,0.2);
}

.save-info {
  margin-bottom: .5rem;
}

input[type=text] {
  width: 100%;
  height: 2rem;
  padding: .5rem;
  margin-bottom: .5rem;
}

.button {
  position: relative;
  float: left;
  background: #c7c7c7;
  color: #202020;
  width: 50%;
  height: 2rem;
  padding: .35rem 0;
  text-align: center;
  border: 1px solid #202020;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background: #202020;
  color: #c7c7c7;
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 24px;
  }
}