* {
  box-sizing: border-box;
  cursor: default;
}

html {
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  position: fixed;
  background: #f7f7f7;
  color: #575757;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1.5rem;
  border-bottom: 1px solid #c7c7c7;
  font-size: .75rem;
  z-index: 99;
}

.content {
  position: fixed;
  background: #fff;
  top: 1.5rem;
  left: 0px;
  width: 100%;
  height: calc(100% - 1.5rem);
  padding: .5rem;
  /*overflow-x: scroll;
  overflow-y: scroll;*/
}

.wrapper {
  position:relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.itemSpan {
  padding: .35rem 0;
  text-align: center;
}

.dropdown {
  position: relative;
  float: left;
  top: 0px;
  left: 0px;
  width: 3.5rem;
  height: 100%;
  border-right: 1px solid #c7c7c7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown.hover {
  background: #575757;
  color: #f7f7f7;
  cursor: default;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  background-color: #f7f7f7;
  color: #575757;
  top: 1.5rem;
  min-width: 6rem;
  border: 1px solid rgba(0,0,0,0.2);
  z-index: 98;
}

.dropdown.hover .dropdown-content {
  display: block;
  visibility: visible;
  overflow: hidden;
}

.dropdown-item {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: .25rem;
  border-bottom: 1px solid #c7c7c7;
}

.dropdown-item:hover {
  background: #575757;
  color: #f7f7f7;
}

.grid {
  position: relative;
  top: 50%;
  left: 0rem;
  margin: 0 auto;
  transform: translateY(-50%);
}

.gridspace {
  position: relative;
  float: left;
  background: #f7f7f7;
  top: 0rem;
  left: 0rem;
  width: 2rem;
  height: 2rem;
  border: 1px dashed #c7c7c7;
}
.gridspace:hover{
  border: 2px solid #c7c7c7;
}

.level-name {
  position: absolute;
  top: .5rem;
  left: .5rem;
}

.world-up {
  position: absolute;
  top: 0rem;
  left: 3rem;
  right: 3rem;
  height: 3rem;
}

.world-down {
  position: absolute;
  bottom: 0rem;
  left: 3rem;
  right: 3rem;
  height: 3rem;
}

.world-left {
  position: absolute;
  top: 3rem;
  bottom: 3rem;
  left: 0rem;
  width: 3rem;
}

.world-right {
  position: absolute;
  top: 3rem;
  bottom: 3rem;
  right: 0rem;
  width: 3rem;
}

.arrow-up {
  position: absolute;
  top: .5rem;
  left: 50%;
  width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-bottom: 20px solid #c7c7c7;
}

.arrow-down {
  position: absolute;
  bottom: .5rem;
  left: 50%;
  width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #c7c7c7;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: .5rem;
  width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	
	border-right: 20px solid #c7c7c7;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: .5rem;
  width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	
	border-left: 20px solid #c7c7c7;
}

.options {
  white-space: nowrap;
  overflow: hidden;
}

.option-title {
  position: relative;
  float: left;
  top: 0rem;
  left: 0rem;
  width: 4rem;
  height: 100%;
  padding: .3rem;
  text-align: center;
}

.option {
  position: relative;
  display: inline-block;
  color: #000;
  top: 0rem;
  left: 0rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #a7a7a7;
}

.option:hover {
  border-bottom: 2px solid #000;
}

.option.selected {
  border-bottom: 2px solid #000;
}

/* Nothing */
.t0 {
  background: #f7f7f7;
  border: 1px dashed #a7a7a7;
  background-size: 100% 100%;
}
/* Dirt */
.t1 {
  background: #9e6019;
  background: url("../images/tile.png") no-repeat;
  background-size: 100% 100%;
}
/* Moss */
.t2 {
  background: #005500;
  background: url("../images/tileMoss.png") no-repeat;
  background-size: 100% 100%;
}
/* Crumble */
.t3 {
  background: #edb76b;
  background: url("../images/tileCrumble.png") no-repeat;
  background-size: 100% 100%;
}
/* Pillar */
.t4 {
  background: #c7c7c7;
  background: url("../images/tileMove.png") no-repeat;
  background-size: 100% 100%;
}
/* Red Ant */
.t5 {
  background: #f00;
  background: url("../images/evilBug.png") no-repeat;
  background-size: 100% 100%;
}
/* Fly */
.t6 {
  background: #505050;
  background: url("../images/evilFly.png") no-repeat;
  background-size: 100% 100%;
}
/* Spikes */
.t7 {
  background: #800000;
  background: url("../images/tileSpikes.png") no-repeat;
  background-size: 100% 100%;
}
/* Friendlies */
.t8 {
  background: #202020;
  background: url("../images/tileFriendly.png") no-repeat;
  background-size: 400% 100%; /* to only show first of 4 frames */
}
/* Health */
.t9 {
  background: #0f0;
  background: url("../images/tileHealth.png") no-repeat;
  background-size: 100% 100%;
}
/* Gate */
.t10 {
  background: #ff5900;
  background: url("../images/tileDoor.png") no-repeat;
  background-size: 100% 100%;
}
/* Key */
.t11 {
  background: #e0dd22;
  background: url("../images/tileKey.png") no-repeat;
  background-size: 100% 100%;
}
/* Start */
.t12 {
  background: #22e0d0;
  background: url("../images/playerAnt.png") no-repeat;
  background-size: 100% 100%;
}
/* Portal */
.t13 {
  background: #cc0099;
  background: url("../images/tilePortal.png") no-repeat;
  background-size: 100% 100%;
}
/* Wiz Hat */
.t14 {
  background: #00f;
  background: url("../images/tileWizHat.png") no-repeat;
  background-size: 100% 100%;
}
/* Armor */
.t15 {
  background: #00f;
  background: url("../images/tileArmor.png") no-repeat;
  background-size: 100% 100%;
}
/* Cloak */
.t16 {
  background: #00f;
  background: url("../images/tileCloak.png") no-repeat;
  background-size: 100% 100%;
}
/* Ice */
.t17 {
  background: #00f;
  background: url("../images/tileIce.png") no-repeat;
  background-size: 100% 100%;
}
/* Torch */
.t18 {
  background: #00f;
  background: url("../images/torchSheet.png") no-repeat;
  background-size: 400% 100%; /* only show frame 1 of 4 */
}

.newWindow,.saveWindow, .openWindow {
  position: absolute;
  background: #f7f7f7;
  visibility: hidden;
  top: 3rem;
  left: 3rem;
  width: 20rem;
  padding: 1rem;
  border: 1px solid #202020;
  box-shadow: 0 0 .2rem .2rem rgba(0,0,0,0.2);
}

.save-info, .open-info {
  margin-bottom: .5rem;
}

input[type=text] {
  width: 100%;
  height: 2rem;
  padding: .5rem;
  margin-bottom: .5rem;
}

input[type=number] {
  width: 100%;
  height: 2rem;
  padding: 0 0 0 .5rem;
  margin-bottom: .5rem;
}

.button {
  position: relative;
  float: left;
  background: #c7c7c7;
  color: #202020;
  width: 50%;
  height: 2rem;
  padding: .35rem 0;
  text-align: center;
  border: 1px solid #202020;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background: #202020;
  color: #c7c7c7;
}


@media screen and (min-width: 750px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1250px) {
  html {
    font-size: 22px;
  }
}

@media screen and (min-width: 1750px) {
  html {
    font-size: 28px;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 32px;
  }
}