*{
	margin:0;
	padding:0;
}

body{
	background:#704000 url(../images/background%20idea.png) center no-repeat;
}

#AntventureLogo{
	margin:0px auto 0px auto;
	width:820px;
	height:200px;
	background:#95600E url('../images/AntVentureWA.png') center no-repeat;
	padding:20px;
	border: solid 3px #734A0A;
	border-top-left-radius:80px 80px;
	border-top-right-radius:80px 80px;
}

#slogan{
	margin:0px auto 0px auto;
	background:green;
	padding: 0px 17px ;
	text-align:center;
	font-size:30px;
	border: solid 3px #734A0A;
}


#Page{
	border: solid 3px #734A0A;
	margin: 0px auto 0px auto;
	padding:25px;
	width: 810px;
}

#gameCanvas{
	border: solid 3px black;
	width:800px;
	border-style:solid;
	border-width:3px;
}

footer{
	background:#95600E;
	border: solid 3px #734A0A;
	margin: 0px auto 0px auto;
	padding:25px;
	width: 810px;
	text-align:center;
}