*{
	margin:0;
	padding:0;
}

#AntventureLogo{
	width:800px;
	height:289px;
	background:#704000 url('../images/AntVentureWA.png') top center no-repeat;
	padding:5px
}
#Page{
	width:1000px;
}

#gameCanvas{
	border-style:solid;
	border-width:3px;
}